.ck-post__card {
  background: white;
  margin-bottom: 30px;
  min-height: 310px;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
  .ck-post__image {
    max-height: 177px;
    .overlay,
    img {
      border-radius: 3px 3px 0px 0px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 16px;
      right: 16px;
      bottom: 0;
      overflow: hidden;
      height: 177px;
      background: black;
      opacity: 0.28;
      transition: opacity 0.6s ease;
    }
    img {
      width: 100%;
      height: 177px;
      object-fit: cover;
    }
    .ck-post__stats {
      //display: none;
      position: absolute;
      right: 25px;
      top: 5px;
      i,
      span {
        color: $ck-orange;
      }
      i {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
  .ck-post__image:hover .overlay {
    opacity: 0;
  }
  .ck-post__info {
    margin-top: 10px;
    padding: 0 10px;
  }
  span {
    align-self: flex-end;
  }
  .ck-post__title {
    white-space: nowrap;
    margin-bottom: 30px;
    a {
      display: block;
      overflow: hidden;
      color: $ck-orange;
      font-weight: bolder;
      text-overflow: ellipsis;
    }
  }
  .ck-post__author {
    margin-bottom: 10px;
    a {
      color: $ck-black;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .ck-post__stats {
    margin-bottom: 10px;
    span {
      font-family: 'Titillium Web', sans-serif;
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
    }
    i {
      color: #989898;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.ck-date {
  font-size: 12px;
  font-weight: lighter;
}