.ck-dashboard {
  display: flex;
  flex-direction: row;
  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.edit-profile__container {
  width: 100%;
  margin: auto;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 0 5px 5px 0;

  .edit-profile__header,
  .edit-profile__submit {
    display: flex;
  }

  .edit-profile__header {
    align-items: center;
    flex-flow: column;
  }

  .edit-profile__top-header {
    background: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 5px 0 0;
  }

  .edit-profile__wrapper {
    width: 80%;
    margin: auto;

    .edit-profile__submit {
      justify-content: center;
      button {
      }
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  form {
    margin-top: 40px;
  }
}
